/* monitordata数据表单样式调整 */
.table-ul {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 0;
}
.table-ul-li {
  height: 96px;
}
.table-hr {
  margin: 0.3rem 0 0.3rem 0;
  height:1px;
  border:none;
  border-top:1px solid #dee2e6;
}
.table-nav a {
  padding-right: 3rem;
}

/* 调整network列表的双值分割 */
.table-a-fix {
  width: 100px;
  float: left;
  padding-right: 10px;
}

#search_info table tr td {
  padding: .5rem;
}
.search_title {
  text-align: center;
  color: #C5CED6;
  background-color: #3B6188;
}
.info_title {
  color: #C5CED6;
  background-color: #3B6188;
}
.reference_tr td {
  background-color: #E1EFFF;
}
.comparison_tr td {
  background-color: #DAD6F5;
}
/*#search_info_body table tbody[id$="_body"] td {
  background: rgba(225, 239, 255, 1);
}*/