/* monitordata数据表单样式调整 */
.table-ul {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 0;
}
.table-ul-li {
  height: 96px;
}
.table-hr {
  margin: 0.3rem 0 0.3rem 0;
  height:1px;
  border:none;
  border-top:1px solid #dee2e6;
}
.table-nav a {
  padding-right: 3rem;
}

/* 调整network列表的双值分割 */
.table-a-fix {
  width: 100px;
  float: left;
  padding-right: 10px;
}

#search_info table tr td {
  padding: .5rem;
}
.search_title {
  text-align: center;
  color: #C5CED6;
  background-color: #3B6188;
}
.info_title {
  color: #C5CED6;
  background-color: #3B6188;
}
.reference_tr td {
  background-color: #E1EFFF;
}
.comparison_tr td {
  background-color: #DAD6F5;
}
/*#search_info_body table tbody[id$="_body"] td {
  background: rgba(225, 239, 255, 1);
}*/

#Chartsweb {
  margin-top:1%;
}
#select_time {
  text-align: center;
}
#time_dropdown {
  width:100%;
  margin: 3% 3% 1% 3%;
}
#time_dropdown tr {
  margin-bottom: 3%;
}
#time_dropdown td {
  display: inline-flex;
  margin: 1% 0 1% 0;
}
#time_dropdown td span {
  padding-top: 2%;
  min-width: 75px;
  white-space: nowrap;
  vertical-align: center;
}
#time_dropdown input[type=number]::-webkit-inner-spin-button,
#time_dropdown input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding:0;
}
.dropdown-menu-hr {
  border: 1px #f7f7f7 solid;
  margin: 0;
}