{% load staticfiles %}
<html>
{% include "header.html" %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
    <title> Hippo OPS Platform </title>
<body>
    <div id="main-moudle" class="container-fluid">
        <div id="top-moudle" class="navbar navbar-header navbar-inverse navbar-static-top col-lg-12 col-md-12 col-sm-12 col-ms-12">
            <a class="navbar-brand" href="/index/"> Hippo OPS Platform </a>
            <img id="logo" src="{% static 'images/hippo-logo.png' %}" width="50px" height="50px">
            <ul id="top-moudle-list" class="nav navbar-nav pull-right">
                <li><a href="/options/">Options</a></li>
                <li><a href="/management/">Management</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div><!-- End top-moudle -->
        <div class="row-fluid">
            <div id="leftmenu-moudle" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <ul id="leftmenu-moudle-list" class="nav nav-pills nav-stacked">
                    <!--<li><a href="#">Dashboard</a></li>-->
                    <li><a href="#">Monitor System</a>
                        <ul class="nav navbar-inverse nav-pills nav-stacked">
                            <li><a href="#">Monitor Alerm</a></li>
                            <li><a href="#">Monitor Info</a></li>
                        </ul>
                    </li>
                    <!--<li><a href="#">Log System</a></li>
                    <li><a href="#">Config Manage</a></li>
                    <li><a href="#">Deploy System</a></li>-->
                </ul>
            </div>
            <div id="rightweb-moudle" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <p>123</p>
            </div>
        </div>
        <div class="row-fluid col-fluid">
            <div class="span2"></div>
            <div class="span10"></div>
        </div>
    </div>
</body>
</html>