{% load staticfiles %}
<html>
{% include "header.html" %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css"/>
<title> Hippo OPS Platform </title>
<body>
    <div id="wrapper" class="container-fluid">
        <div class="row">
            <div id="top-moudle" class="container-fluid">
                <div class="row">
                    <div id="top-moudle-logo" class="">
                        <li><a href="/index/">Hippo OPS Platform</a></li>
                    </div>
                    <div id="top-moudle-list" class="">
                        <p>顶部导航栏菜单</p>
                    </div>
                </div>
            </div>
            <div id="main-module" class="container-fluid">
                <div class="row">
                    <div id="main-moudle-leftmenu" class="">
                        <p>页面高度100%,宽度占15%的左侧边栏菜单</p>
                    </div>
                    <div id="main-moudle-rightweb" class="">
                        <p>占据剩下空间</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>