<!-- BEGIN LEFTMENU -->
<div class="navbar col-lg-2">
    <ul class="nav nav-pills nav-stacked">
        <!--
            navbar-pills 胶囊式导航
            navbar-stacked 堆叠胶囊式导航
        -->
        <li class="active"><a href="#">Dashboard</a></li>
        <!--<li><a href="#">Resource Manage</a></li>-->
        <li><a href="#">System Monitor</a></li>
        <li><a href="#">Service Monitor</a></li>
        <li><a href="#">Log System</a></li>
        <li><a href="#">Configuration Manage</a></li>
        <li><a href="#">Deploy Server</a></li>
    </ul>
</div>