<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ static('vendor/bootstrap-4.1.3/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('css/login.css') }}" rel="stylesheet" type="text/css" />
    <title> Hippo OPS Platform - Login </title>
</head>

<body>
    <div class="login-bg">
        <div class="login-form">
            <form method="post" enctype="multipart/form-data">
                {{ csrf_input }}
                {{ login_form.as_p() }}
                <input class="btn btn-primary" type="button" value="Sign In" id="login_form" onclick="dologin()"/>
                <input type="hidden" id="pub_e" value={{ pub_e }} name="pub_e" />
                <input type="hidden" id="pub_n" value={{ pub_n }} name="pub_n" />
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ static('vendor/rsa/RSA.js') }}"></script>
<script type="text/javascript" src="{{ static('vendor/rsa/Barrett.js') }}"></script>
<script type="text/javascript" src="{{ static('vendor/rsa/BigInt.js') }}"></script>
<script src="{{ static('vendor/jquery-3.3.1/jquery.js') }}"></script>
<script type="text/javascript">
    function dologin(){
        // http://www.ohdave.com/rsa/  加密所需js文件网址
        var username = $('#username').val();
        var pub_e = $('#pub_e').val();
        var pub_n = $('#pub_n').val();
        setMaxDigits(129);  // "n的位数"
        var key = new RSAKeyPair(pub_e,"",pub_n);
        var en_password = encryptedString(key, $('#password').val());
        $.ajax({
            url: "{{ url('/login/i') }}",
            type: 'post',
            data: {'username': username, 'password': $(this.password).val(), 'en_password': en_password},
            dataType: 'json',
            async: false, //同步操作
            success: function(data) {
                if (data['data'] = "ok")
                    window.location.reload();
            },
        });
    }
</script>
</html>