{% load staticfiles %}
<!-- BEGIN TOPBAR -->
<nav class="topbar navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" >
            <img src="{% static 'images/hippo-logo.png' %}" width="45px" height="45px">
            <a class="navbar-brand" href="/index/"> Hippo OPS Platform </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/options/">Options</a></li>
            <li><a href="/management/">Management</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </div>
</nav>
<!-- END TOPBAR -->