{% extends "module/table.html" %}

{% block table_name %}
    CPU Data
{% endblock %}

{% block table_data_head %}
    {% if data %}
        {% if value %}
        <thead>
            <tr>
                <td>IP</td>
                <td>LoadAvg</td>
                <td>Count</td>
                <td>User</td>
                <td>System</td>
                <td>Nice</td>
                <td>Idle</td>
                <td>IOwait</td>
                <td>Irq</td>
                <td>Softirq</td>
                <td>Steal</td>
                <td>Total</td>
                <td>Checktime</td>
            </tr>
        {% else %}
            <tr>
                <td>IP</td>
                <td>LoadAvg</td>
                <td>Count</td>
                <td>User</td>
                <td>System</td>
                <td>Nice</td>
                <td>Idle</td>
                <td>IOwait</td>
                <td>Irq</td>
                <td>Softirq</td>
                <td>Steal</td>
                <td>Checktime</td>
            </tr>
        {% endif %}
        </thead>
    {% elif error %}
        <thead>
            <tr>
                <td>Error Messages</td>
            </tr>
        </thead>
    {% endif %}
{% endblock %}

{% block table_data_body %}
    {% if data %}
        {% if value %}
            <tbody>
                {% for d in data %}
                    <tr>
                        <td>{{ d[0] }}</td>
                        <td>
                            <ul class="nav">
                                {% for i in range(1,4) %}
                                    <li><span class="table-li">{{ d[i] }}</span></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ d[4] }}</td>
                        <td>{{ d[5] }}</td>
                        <td>{{ d[6] }}</td>
                        <td>{{ d[7] }}</td>
                        <td>{{ d[8] }}</td>
                        <td>{{ d[9] }}</td>
                        <td>{{ d[10] }}</td>
                        <td>{{ d[11] }}</td>
                        <td>{{ d[12] }}</td>
                        <td>{{ d[13] }}</td>
                        <td>{{ d[14] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                {% for d in data %}
                    <tr>
                        <td>{{ d[0] }}</td>
                        <td>
                            <ul class="nav">
                                {% for i in range(1,4) %}
                                    <li><span class="table-li">{{ d[i] }}</span></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ d[4] }}</td>
                        <td>{{ d[5] }}</td>
                        <td>{{ d[6] }}</td>
                        <td>{{ d[7] }}</td>
                        <td>{{ d[8] }}</td>
                        <td>{{ d[9] }}</td>
                        <td>{{ d[10] }}</td>
                        <td>{{ d[11] }}</td>
                        <td>{{ d[12] }}</td>
                        <td>{{ d[13] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    {% elif error %}
        <tbody>
            <tr>
                <td>{{ error }}</td>
            </tr>
        </tbody>
    {% endif %}
{% endblock %}