    <div id="mainSubweb">
        <div class="card mb-8">
            <div class="card-header">
                <i class="fa fa-pie-chart"></i>
                &nbsp;Monitor Chart
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data">
                    {{ csrf_input }}
                    {% if hostmode_form %}
                        {{ hostmode_form.ip }}
                        {{ hostmode_form.charttype }}
                    {% endif %}
                    <div id="time_dropdown_main" class="dropdown bootstrap-select" style="width:430px">
                        <div class="input-group">
                            <input id="select_time" class="form-control btn-theme" type="text" placeholder=""
                                value="{% if hoursago %}{{ hoursago }}{% endif %} - {% if nowtime %}{{ nowtime }}{% endif %}" readonly disabled/>
                            <button class="btn btn-dark btn-fixed" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-calendar"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <table id="time_dropdown">
                                    <tr>
                                        <td>
                                            <span><i class="fa fa-clock-o"></i> Begin:</span>
                                            <input id="begin_day" class="form-control btn-theme" style="width:170px" type="text" value="{{ hoursago.split(' ')[0] }}" placeholder=""/>
                                            <div id="begin_hour" class="input-group spinner">
                                                {{ datetime_form.old_hours }}
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-up"></i></button>
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-down"></i></button>
                                                </div>
                                            </div>
                                            <div id="begin_minute" class="input-group spinner" style="margin-left:10px">
                                                {{ datetime_form.minutes }}
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-up"></i></button>
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-down"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span><i class="fa fa-clock-o"></i> End:</span>
                                            <input id="end_day" class="form-control btn-theme" style="width:170px" type="text" value="{{ nowtime.split(' ')[0] }}" placeholder=""/>
                                            <div id="end_hour" class="input-group spinner">
                                                {{ datetime_form.hours }}
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-up"></i></button>
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-down"></i></button>
                                                </div>
                                            </div>
                                            <div id="end_minute" class="input-group spinner" style="margin-left:10px">
                                                {{ datetime_form.minutes }}
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-up"></i></button>
                                                    <button class="btn btn-theme" type="button"><i class="fa fa-caret-down"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <hr class="dropdown-menu-hr"/>
                                <div class="input-group" style="margin:1% 0 1% 2%">
                                    <a class="btn-sm btn-theme-radius" type="button"><span>1 Hour</span></a>
                                    <a class="btn-sm btn-theme-radius" type="button"><span>6 Hour</span></a>
                                    <a class="btn-sm btn-theme-radius" type="button"><span>1 Day</span></a>
                                    <a class="btn-sm btn-theme-radius" type="button"><span>1 Week</span></a>
                                    <a class="btn-sm btn-theme-radius" type="button"><span>2 Week</span></a>
                                    <div class="input-group-btn" style="margin-left:13%">
                                        <button type="button" class="btn btn-info pull-left">
                                            <span>Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info" type="button" id="createchart_btn" value="Search">
                        <i class="fa fa-line-chart"> Chart</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="Chartsweb" hidden>
        <div class="card mb-8">
            <div id="chart_title" class="card-header">
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div id="pic_1" style="width:1000px;height:500px">
                        </div>
                        <div id="pic_2" style="width:1000px;height:500px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
