    <div class="row-fluid">
        <ul class="nav nav-tabs justify-content-center nav-justified" id="monitorDatatab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" aria-expanded="false" id="monitordata_server" onclick="monitordata();">
                    <i class="fa fa-fw fa-television"></i>
                    <span>Server</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-expanded="false" id="monitordata_cpu">
                    <i class="fa fa-fw fa-rocket"></i>
                    <span>CPU</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-expanded="false" id="monitordata_disk">
                    <i class="fa fa-fw fa-hdd-o"></i>
                    <span>Disk</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-expanded="false" id="monitordata_memory">
                    <i class="fa fa-fw fa-microchip"></i>
                    <span>Memory</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-expanded="false" id="monitordata_network">
                    <i class="fa fa-fw fa-ravelry"></i>
                    <span>Network</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-expanded="false" id="monitordata_tcp">
                    <i class="fa fa-fw fa-bolt"></i>
                    <span>TCP</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="mainSubweb">
        <div class="card mb-8">
            <div class="card-body">
                <form enctype="multipart/form-data">
                    {{ csrf_input }}
                    {% if hostmode_form %}
                        {{ hostmode_form }}
                    {% endif %}
                    <input class="btn btn-primary" type="button" value="Search" id="hostmode_btn"/>
                    <input class="btn btn-info" type="button" value="Create Charts" id="charts_btn" hidden/>
                    <input class="btn btn-success" type="button" value="Return List" id="showlist_btn" hidden/>
                </form>
            </div>
        </div>
        <div id="search_info" class="card mb-8">
            <div id="search_info_title" class="card-header">
            </div>
            <div id="search_info_body" class="card-body">
            </div>
        </div>
        <div id="server_card" class="card mb-8">
            <div>
                <div class="card-header">
                    <div><i class="fa fa-table"></i>
                        Server List
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead id="monitortable_thead"></thead>
                            <tbody id="monitortable_tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>