    <div id="mainSubweb">
        <div class="card mb-8">
            <div class="card-header">
                <i class="fa fa-pie-chart"></i>
                &nbsp;Monitor Chart
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data">
                    {{ csrf_input }}
                    {% if hostmode_form %}
                        {{ hostmode_form }}
                    {% endif %}
                    {% if charttype_form %}
                        {{ charttype_form }}
                    {% endif %}
                    <button class="btn btn-info" type="button" id="createchart_btn" value="Search">
                        <i class="fa fa-line-chart"> Chart</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="Chartsweb" hidden>
        <div class="card mb-8">
            <div id="chart_title" class="card-header">
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div id="pic_1" style="width:1000px;height:500px">
                        </div>
                        <div id="pic_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
