<div class="row-fluid">
    <ul class="nav nav-pills justify-content-center nav-justified">
        <li class="nav-item">
            <a class="nav-link active">Host Mode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">CPU</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Disk</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Memory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Network</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">TCP</a>
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div id="mainSubweb">
    </div>
</div>
