{% extends "module/table.html" %}

{% block table_name %}
    Server List
{% endblock %}

{% block table_data_head %}
    {% if data %}
        <thead>
            <tr>
                <td>ServerIP</td>
                <td>HostName</td>
                <td>OS</td>
                <td>Kernel</td>
                <td>Arch</td>
                <td>Status</td>
                <td>CreateTime</td>
                <td>UpdateTime</td>
                <td>Remark</td>
            </tr>
        </thead>
    {% elif error %}
        <tbody>
            <tr>
                <td>Error Messages</td>
            </tr>
        </tbody>
    {% endif %}
{% endblock %}

{% block table_data_body %}
    {% if data %}
        <tbody>
            {% for d in data %}
                <tr>
                    <td>{{ d.ip }}</td>
                    <td>{{ d.host }}</td>
                    <td>{{ d.type }}</td>
                    <td>{{ d.kernel }}</td>
                    <td>{{ d.arch }}</td>
                    <td>{{ d.status }}</td>
                    <td>{{ d.ctime }}</td>
                    <td>{{ d.utime }}</td>
                    <td>{{ d.remark }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% elif error %}
        <tbody>
            <tr>
                <td>{{ error }}</td>
            </tr>
        </tbody>
    {% endif %}
{% endblock %}
