<div class="card mb-8">
    <div class="card-header navbar">
        <div>
            <i class="fa fa-table"></i>
            {% block table_name %}
                Table Example
            {% endblock %}
        </div>
            {% block table_option %}
            {% endblock %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                {% block table_data_head %}
                {% endblock %}
                {% block table_data_body %}
                {% endblock %}
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        {% block table_footer %}
        {% endblock %}
    </div>
</div>
